In [84]:
import mysql.connector
from datetime import datetime, timedelta, date
import random
from faker import Faker

In [85]:
departments = ['Kitchen', 'Front of House', 'Bar', 'Cleaning', 'Management', 'Inventory']
table_capacities = [2,4,6,10]
start_datetime = datetime(2024, 1, 1, 10, 0, 0)
manager_ids = [3,6,8,15,23]

menu = {
    'Pizzas': [
        {'name': 'Margherita', 'description': 'Classic pizza with tomato sauce, mozzarella, and basil', 'price': 8.99},
        {'name': 'Pepperoni', 'description': 'Tomato sauce, mozzarella, and pepperoni slices', 'price': 9.99},
        {'name': 'BBQ Chicken', 'description': 'BBQ sauce, chicken, onions, and mozzarella', 'price': 10.99},
        {'name': 'Veggie Supreme', 'description': 'Tomato sauce, bell peppers, onions, mushrooms, and olives', 'price': 9.49},
    ],
    'Burgers': [
        {'name': 'Classic Cheeseburger', 'description': 'Beef patty, cheddar cheese, lettuce, tomato, and onion', 'price': 7.99},
        {'name': 'Bacon Burger', 'description': 'Beef patty, bacon, cheddar cheese, and BBQ sauce', 'price': 8.99},
        {'name': 'Veggie Burger', 'description': 'Grilled veggie patty with lettuce, tomato, and avocado', 'price': 7.49},
        {'name': 'Double Trouble', 'description': 'Two beef patties, double cheese, and special sauce', 'price': 10.49},
    ],
    'Fries': [
        {'name': 'Classic Fries', 'description': 'Golden crispy fries', 'price': 2.99},
        {'name': 'Cheese Fries', 'description': 'Fries topped with melted cheddar cheese', 'price': 3.99},
        {'name': 'Garlic Parmesan Fries', 'description': 'Fries tossed in garlic and parmesan cheese', 'price': 3.99},
        {'name': 'Sweet Potato Fries', 'description': 'Crispy sweet potato fries', 'price': 3.49},
    ],
    'Drinks': [
        {'name': 'Coca Cola', 'description': 'Chilled classic Coca Cola', 'price': 1.99},
        {'name': 'Lemonade', 'description': 'Freshly squeezed lemonade', 'price': 2.49},
        {'name': 'Iced Tea', 'description': 'Refreshing iced tea with lemon', 'price': 2.29},
        {'name': 'Milkshake', 'description': 'Thick and creamy milkshake (vanilla, chocolate, or strawberry)', 'price': 4.99},
        {'name': 'Beer', 'description': 'Chilled draft beer (lager, ale, or stout)', 'price': 5.99},
        {'name': 'Red Wine', 'description': 'Glass of house red wine', 'price': 6.99},
        {'name': 'White Wine', 'description': 'Glass of house white wine', 'price': 6.99},
        {'name': 'Whiskey Sour', 'description': 'Classic whiskey sour cocktail', 'price': 7.99},
    ]
}

ingredients = [
    'Tomato Sauce', 'Mozzarella', 'Basil', 'Pepperoni', 'BBQ Sauce', 'Chicken', 
    'Onions', 'Bell Peppers', 'Mushrooms', 'Olives', 'Beef Patty', 'Cheddar Cheese', 
    'Lettuce', 'Tomato', 'Onion', 'Bacon', 'Veggie Patty', 'Avocado', 'Special Sauce', 
    'Potatoes', 'Cheese', 'Garlic', 'Parmesan', 'Sweet Potatoes', 'Coca Cola', 
    'Lemon', 'Tea', 'Milk', 'Vanilla', 'Chocolate', 'Strawberry', 'Beer', 
    'Red Wine', 'White Wine', 'Whiskey', 'Sour Mix'
]

dishes_to_ingredients = {
    'Margherita': ['Tomato Sauce', 'Mozzarella', 'Basil'],
    'Pepperoni': ['Tomato Sauce', 'Mozzarella', 'Pepperoni'],
    'BBQ Chicken': ['BBQ Sauce', 'Chicken', 'Onions', 'Mozzarella'],
    'Veggie Supreme': ['Tomato Sauce', 'Bell Peppers', 'Onions', 'Mushrooms', 'Olives', 'Mozzarella'],
    'Classic Cheeseburger': ['Beef Patty', 'Cheddar Cheese', 'Lettuce', 'Tomato', 'Onion'],
    'Bacon Burger': ['Beef Patty', 'Bacon', 'Cheddar Cheese', 'BBQ Sauce'],
    'Veggie Burger': ['Veggie Patty', 'Lettuce', 'Tomato', 'Avocado'],
    'Double Trouble': ['Beef Patty', 'Cheddar Cheese', 'Special Sauce'],
    'Classic Fries': ['Potatoes'],
    'Cheese Fries': ['Potatoes', 'Cheese'],
    'Garlic Parmesan Fries': ['Potatoes', 'Garlic', 'Parmesan'],
    'Sweet Potato Fries': ['Sweet Potatoes'],
    'Coca Cola': ['Coca Cola'],
    'Lemonade': ['Lemon'],
    'Iced Tea': ['Tea', 'Lemon'],
    'Milkshake': ['Milk', 'Vanilla', 'Chocolate', 'Strawberry'],
    'Beer': ['Beer'],
    'Red Wine': ['Red Wine'],
    'White Wine': ['White Wine'],
    'Whiskey Sour': ['Whiskey', 'Sour Mix'],
}

In [57]:
# Insert data into the Member table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()

        for i in range(1,100):
            member_id = i
            discount = random.randint(5, 40)
            join_date = fake.date_this_decade()
            expiry_date = fake.date_between_dates(date_start=join_date, date_end=date.today())
            cursor.execute(
                """INSERT INTO Member (MemberID, Discount, JoinDate, ExpiryDate)
                   VALUES (%s, %s, %s, %s)""",
                (member_id, discount, join_date, expiry_date)
            )
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [58]:
# Insert data into Customer Table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()

        
        for i in range(1, 200):
            customer_id = i
            name = fake.name()
            email = fake.email()
            phone = fake.phone_number()
            member_id = random.randint(1, 100)  # assuming this matches the MemberID
            cursor.execute(
                """INSERT INTO Customer (CustomerID, Name, Email, Phone, MemberID)
                   VALUES (%s, %s, %s, %s, %s)""",
                (customer_id, name, email, phone, member_id)
            )
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [59]:
# Insert data into Staff table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        for i in range(1, 30):
            staff_id = i
            name = fake.name()
            email = fake.email()
            phone = fake.phone_number()
            wage = random.randint(15, 30)
            manager_id = random.choice(manager_ids)
            department = random.choice(departments)
            hire_date = fake.date_this_decade()
            cursor.execute(
                """INSERT INTO Staff (StaffID, Name, Email, Phone, Wage, ManagerID, Department, HireDate)
                   VALUES (%s, %s, %s, %s, %s, %s, %s, %s)""",
                (staff_id, name, email, phone, wage, manager_id, department, hire_date)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [60]:
# Insert data into RestaurantTable table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        
        for i in range(1,25):
            table_number = i
            capacity = random.choice(table_capacities)
            cursor.execute(
                """INSERT INTO RestaurantTable (TableNumber, Capacity)
                   VALUES (%s, %s)""",
                (table_number, capacity)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [61]:
# Make sure the time is between 10 AM and 11 PM
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        for i in range(1000):
            order_id = i
            customer_id = random.randint(1, 100)
            staff_id = random.randint(1, 30)
            table_number = random.randint(1, 20)
            
            interval_minutes = random.randint(5, 120)
            order_datetime = start_datetime + timedelta(minutes=interval_minutes)

            
            if order_datetime.hour >= 23:
                order_datetime = order_datetime.replace(hour=22, minute=59) + timedelta(days=1)
            
            start_datetime = order_datetime
            
            cursor.execute(
                """INSERT INTO RestaurantOrder (OrderID, OrderDatetime, CustomerID, StaffID, TableNumber)
                   VALUES (%s, %s, %s, %s, %s)""",
                (order_id, order_datetime, customer_id, staff_id, table_number)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [62]:
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        # Insert into Dish table
        for category, dishes in menu.items():
            for dish in dishes:
                cursor.execute(
                    """INSERT INTO Dish (DishName, Description, Price)
                       VALUES (%s, %s, %s)""",
                    (dish['name'], dish['description'], dish['price'])
                )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [63]:
# Insert data into the Ingredient table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        for ingredient_id, ingredient_name in enumerate(ingredients, start=1):
            cursor.execute(
                """INSERT INTO Ingredient (IngredientID, IngredientName)
                   VALUES (%s, %s)""",
                (ingredient_id, ingredient_name)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [64]:
# Insert data into the Supplier table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        for i in range(1, 30):
            supplier_id = i
            name = fake.company()
            phone = fake.phone_number()
            cursor.execute(
                """INSERT INTO Supplier (SupplierID, Name, Phone)
                   VALUES (%s, %s, %s)""",
                (supplier_id, name, phone)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [77]:
# Insert data into IngredientsUsed table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        for dish, ingredients in dishes_to_ingredients.items():
            for ingredient in ingredients:
                # Assuming IngredientID is auto-generated or known
                cursor.execute(
                    """SELECT IngredientID FROM Ingredient WHERE IngredientName = %s""",
                    (ingredient,)
                )
                ingredient_id = cursor.fetchone()[0]

                # Insert into IngredientsUsed
                cursor.execute(
                    """INSERT INTO IngredientsUsed (IngredientID, DishName, Quantity)
                       VALUES (%s, %s, %s)""",
                    (ingredient_id, dish, random.randint(1, 7))  # Quantity is randomized for demonstration
                )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [80]:
# Insert data into IngredientsSupplied table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        cursor.execute("SELECT IngredientID FROM Ingredient")
        ingredients = cursor.fetchall()
        for ingredient_id_tuple in ingredients:
            ingredient_id = ingredient_id_tuple[0]

            # Randomly decide the number of suppliers for each ingredient
            number_of_suppliers = random.randint(1, 5)  # Each ingredient can have 1 to 5 suppliers

            for _ in range(number_of_suppliers):
                # Assign a random SupplierID between 1 and 30
                supplier_id = random.randint(1, 30)

                # Insert into IngredientsSupplied table
                cursor.execute(
                    """INSERT IGNORE INTO IngredientsSupplied (IngredientID, SupplierID, Quantity)
                       VALUES (%s, %s, %s)""",
                    (ingredient_id, supplier_id, random.randint(50, 1000))  # Quantity is randomized
                )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [104]:
# Insert data into the OrderedDish table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        cursor.execute("SELECT OrderID FROM RestaurantOrder")
        orders = cursor.fetchall()

        cursor.execute("SELECT DishName FROM Dish")
        dishes = cursor.fetchall()

        for order_id_tuple in orders:
            order_id = order_id_tuple[0]

            # Randomly decide how many dishes were ordered in this order
            number_of_dishes = int(random.triangular(1, 7, 4))
            
            dish_names = random.sample(dishes, number_of_dishes)
            for dish_name_iter in dish_names:
                # Randomly select a dish
                dish_name = dish_name_iter[0]

                # Insert into OrderedDish table
                cursor.execute(
                    """INSERT IGNORE INTO OrderedDish (OrderID, DishName, Quantity)
                       VALUES (%s, %s, %s)""",
                    (order_id, dish_name, random.randint(1, 3))  # Quantity is randomized between 1 and 3
                )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.

In [106]:
# Insert data into the Receipt table
try:
    connection = mysql.connector.connect(
        host= '34.170.97.145',
        user= 'root',
        password= 'password',
        database= 'crazykitchen'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        cursor.execute("""SELECT OrderID, OrderDatetime FROM RestaurantOrder""")
        orders = cursor.fetchall()
        for order_id, order_date in orders:
            # Calculate SaleDate by adding a random number of minutes (at least 40 minutes) to OrderDate
            sale_date = order_date + timedelta(minutes=random.randint(20, 80))

            # Randomly decide the amount and payment method
            amount = random.uniform(10.0, 100.0)  # Amount between 10.0 and 100.0
            payment_method = random.choice(['Cash', 'Credit Card', 'Debit Card', 'Mobile Payment'])
            receipt_id = order_id
            
            # Insert into Receipt table
            cursor.execute(
                """INSERT INTO Receipt (ReceiptID, Amount, SaleDateTime, PaymentMethod, OrderID)
                   VALUES (%s, %s, %s, %s, %s)""",
                (receipt_id, amount, sale_date, payment_method, order_id)
            )
            
        connection.commit()
        print("Data inserted successfully into the database.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
connection.close()

Data inserted successfully into the database.